.buttons{
  padding: 10px 20px;
  border-radius: 38px;
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  font-family: var(--font-poppins);
  font-size: 13px;
  font-weight: 600;
  display: flex;
  column-gap: 5px;
}
.buttonIcon{
  width: 20px;
  height: 20px;
}
.darkButton{
  background-color: var(--primary-color);
  color: var(--color-white);
  font-weight: 500;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 5px 11px 0px rgba(0, 0, 0, 0.10), 0px 20px 20px 0px rgba(0, 0, 0, 0.09), 0px 45px 27px 0px rgba(0, 0, 0, 0.05), 0px 81px 32px 0px rgba(0, 0, 0, 0.01), 0px 126px 35px 0px rgba(0, 0, 0, 0.00);
}