.blogWrap{
  padding: 60px 8%;
  background-color: var(--primary-color5);
}

.header{
  text-align: center;
  color: var(--primary-color4);
  font-family: var(--font-inter);
}

.header>h2{
  font-family: var(--font-inika);
  font-size: 64px;
  margin-bottom: 0;
}

.postWrap{
  flex-wrap: wrap;
  margin-top: 60px;
}

@media (max-width: 767px) {
  .postWrap{
    row-gap: 25px;
  }

  .header>h2{
    font-size: 45px;
  }
}